<div id="image-modal" class="modal hidden">
  <button id="modal-close" class="modal-close">x</button>
  <img id="modal-image" src="" />
</div>

<div class="container">
  <div
    class="glass-container"
    style="margin-top: 2rem; flex-direction: column; align-items: center; justify-content: center; width: max-content; margin-left: auto; margin-right: auto;"
  >
    <video controls>
      <source src="/main.mp4" type="video/mp4">
      Ваш браузер не поддерживает видео.
    </video>
    <p class="video-title text">Showreel 2026 by Konstantin Levchenko</p>
  </div>
</div>

<div
  class="splide horizontal"
  data-controller="splide"
  data-splide-per-page1920-value="2"
  data-splide-per-page1200-value="1"
>
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-horizontal1.png") %>" alt="Carousel photo 1" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-horizontal2.png") %>" alt="Carousel photo 2" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-horizontal3.png") %>" alt="Carousel photo 3" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-horizontal4.png") %>" alt="Carousel photo 4" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-horizontal5.png") %>" alt="Carousel photo 5" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-horizontal6.png") %>" alt="Carousel photo 6" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-horizontal7.png") %>" alt="Carousel photo 7" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-horizontal8.png") %>" alt="Carousel photo 8" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-horizontal9.png") %>" alt="Carousel photo 9" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-horizontal10.png") %>" alt="Carousel photo 10" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-horizontal11.png") %>" alt="Carousel photo 11" loading="lazy" class="gallery-image">
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="glass-container">
    <div class="before-after-image-slider-container">
      <%= image_tag "/car-before.png", class: "image-before slider-image", loading: "lazy" %>
      <%= image_tag "/car-after.png", class: "image-after slider-image", loading: "lazy" %>
      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider"/>
      <div class="slider-line" aria-hidden="true"></div>
      <div class="slider-button" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>
    <p class="text">
      Первым этапом добавления компьютерной графики является трекинг, который был выполнен в Blender, поскольку дальнейшее построение сцены будет также производится в Blender.
    </p>
    <div class="logos-container right">
      <%= image_tag "/blender.png", alt: "Blender logo", loading: "lazy" %>
      <%= image_tag "/nuke.png", alt: "Nuke logo", loading: "lazy" %>
      <%= image_tag "/davinci_resolve.png", alt: "DaVinci Resolve logo", loading: "lazy" %>
    </div>
  </div>

  <div class="glass-container">
    <p class="text">После трекинга воссоздаются объекты из исходного видео в 3D пространстве, основываясь на их реальном расположении и реальных размерах.</p>
    <div class="before-after-image-slider-container">
      <%= image_tag "/plants-before.png", class: "image-before slider-image", loading: "lazy" %>
      <%= image_tag "/plants-after.png", class: "image-after slider-image", loading: "lazy" %>
      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider"/>
      <div class="slider-line" aria-hidden="true"></div>
      <div class="slider-button" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>
    <div class="logos-container left">
      <%= image_tag "/blender.png", alt: "Blender logo", loading: "lazy" %>
      <%= image_tag "/nuke.png", alt: "Nuke logo", loading: "lazy" %>
      <%= image_tag "/davinci_resolve.png", alt: "DaVinci Resolve logo", loading: "lazy" %>
    </div>
  </div>
</div>

<div
  class="splide vertical"
  data-controller="splide"
  data-splide-per-page1920-value="3"
  data-splide-per-page1200-value="2"
>
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-vertical1.png") %>" alt="carousel photo 1" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-vertical2.png") %>" alt="carousel photo 2" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-vertical3.png") %>" alt="carousel photo 3" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-vertical4.png") %>" alt="carousel photo 4" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-vertical5.png") %>" alt="carousel photo 5" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-vertical6.png") %>" alt="carousel photo 6" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-vertical7.png") %>" alt="carousel photo 7" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-vertical8.png") %>" alt="carousel photo 8" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-vertical9.png") %>" alt="carousel photo 9" loading="lazy" class="gallery-image">
      </li>
      <li class="splide__slide">
        <img src="<%= asset_path("/carousel-vertical10.png") %>" alt="carousel photo 10" loading="lazy" class="gallery-image">
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="glass-container">
    <div class="before-after-image-slider-container">
      <%= image_tag "/cell-before.png", class: "image-before slider-image", loading: "lazy" %>
      <%= image_tag "/cell-after.png", class: "image-after slider-image", loading: "lazy" %>
      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider"/>
      <div class="slider-line" aria-hidden="true"></div>
      <div class="slider-button" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>
    <p class="text">На следующем этапе используя Nuke корректируется HDRI, освещение и текстуры 3D-объектов, чтобы они соответствовали по свету и цвету исходному видео.</p>
    <div class="logos-container right">
      <%= image_tag "/blender.png", alt: "Blender logo", loading: "lazy" %>
      <%= image_tag "/nuke.png", alt: "Nuke logo", loading: "lazy" %>
      <%= image_tag "/davinci_resolve.png", alt: "DaVinci Resolve logo", loading: "lazy" %>
    </div>
  </div>

  <div class="glass-container">
    <p class="text">На финальном этапе в DaVinci Resolve были собраны все композитные слои и была проведена финальная цветокоррекция, чтобы CG и живое видео выглядели единым целым.</p>
    <div class="before-after-image-slider-container">
      <%= image_tag "/waves-before.png", class: "image-before slider-image", loading: "lazy" %>
      <%= image_tag "/waves-after.png", class: "image-after slider-image", loading: "lazy" %>
      <input type="range" min="0" max="100" value="50" aria-label="Percentage of before photo shown" class="slider"/>
      <div class="slider-line" aria-hidden="true"></div>
      <div class="slider-button" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <line x1="96" y1="128" x2="16" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="48 160 16 128 48 96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="160" y1="128" x2="240" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="208 96 240 128 208 160" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </div>
    </div>
    <div class="logos-container left">
      <%= image_tag "/blender.png", alt: "Blender logo", loading: "lazy" %>
      <%= image_tag "/nuke.png", alt: "Nuke logo", loading: "lazy" %>
      <%= image_tag "/davinci_resolve.png", alt: "DaVinci Resolve logo", loading: "lazy" %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbo:load", () => {
    document.querySelectorAll(".before-after-image-slider-container").forEach((container) => {
      const slider = container.querySelector(".slider")

      if (slider.dataset.initialized) return
      slider.dataset.initialized = "true"

      slider.addEventListener("input", (e) => {
        container.style.setProperty("--position", `${e.target.value}%`)
      })
    })
  })

  const modal = document.getElementById("image-modal");
  const modalImg = document.getElementById("modal-image");

  document.querySelectorAll(".gallery-image").forEach(img => {
    img.addEventListener("click", () => {
      modalImg.src = img.src
      modal.classList.remove("hidden")
    })
  })

  document.getElementById("modal-close").addEventListener("click", () => {
    modal.classList.add("hidden")
    modalImg.src = ""
  })

  document.addEventListener("keydown", (e) => {
    if (e.key === "Escape") {
      modal.classList.add("hidden")
      modalImg.src = ""
    }
  })
</script>
