<!DOCTYPE html>
<html>
  <head>
    <title><%= "Levchenko CG" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Levchenko Website">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

    <%= favicon_link_tag asset_path("favicon.svg") %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "reset", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "before_after_image_slider", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "splide", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "modal", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="contacts glass-container">
      <span>Контакты:</span>
      <a href="mailto:info@kostr322@gmail.com">
        <img src="/mail.png" alt="Email" width="24" height="24">
      </a>
      <a href="https://t.me/Kos_Lev" target="_blank" rel="noopener noreferrer">
        <img src="/telegram.png" alt="Telegram" width="24" height="24">
      </a>
    </div>

    <%= yield %>
  </body>
</html>
